configuration {
	modes: "drun";
    display-drun: "";
	show-icons: true;
	font: "mono 14";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "./theme.rasi"
