[Desktop Entry]
Name=PCSX2
Comment=PlayStation 2 Emulator
Exec=/home/humam/Applications/PCSX2.AppImage
Icon=/home/humam/Applications/icons/PCSX2.png
Categories=Game;Emulator;
Type=Application
Terminal=false
